.DS_Store
.vscode/

venv/

*.pyc
__pycache__/
*.swp

instance/

.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

database.cfg
playground.py
spellfile.utf-8.add.spl
tags
TODO.md
