{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for post in posts %}
<article class="post">
    <header>
        <div>
            <h1>{{ post.title }}</h1>
            <div class="about">by {{ post.author_username }} {{ post.created_time.astimezone().strftime('on %a %d %b %Y' if post.created_time.astimezone().date() != today else 'at %I:%M %p') }}</div>
        </div>
        {% if g.user.oid == post.author_oid %}
        <a class="action" href="{{ url_for('blog.update', id=post.oid) }}">Edit</a>
        {% endif %}
    </header>
    {% autoescape false %}
    <p class="body">{{ g.services.text_transformer.transform_to_html(post.body) }}</p>
    {% endautoescape %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
